<html>
  <header>
    <h1>転職成功への道のり</h1>
  </header>
  <body>
    <div class="container">
      <div class="row">
        <div class="profile">
          <h2>自己紹介</h2>
          <li>
            名前: 久須 隆太郎
          </li>
          <li>
            生年月日: 1997年12月23日（満23歳）
          </li>
          <li>
            趣味: バイクに乗ること
          </li>
        </div>
        <div class="history">
          <h4>前職の経験</h4>
          <p>2020年に甲南大学を卒業後、「人と話すことが好き」「実力主義の会社で若くして稼ぎたい」という理由から<br />
          株式会社プレサンスコーポレーションに入社。<br />
          主な業務としては、電話営業による新規開拓・商談・契約・顧客のアフターフォローを行っておりました。<br />
          教育制度としてOJTを採用している会社だったので入社後すぐ現場で働かせていただきたくさんのお客様とお会いさせていただきました。
          <br />前職は創業社長が1代で、全国で２番目にマンションを売る会社にまで成長したため、新規獲得の営業ノウハウや
          競合他社との差別化などたくさんのことを学ばせていただきました。</p>
        </div>
        <div class="reasons">
          <h4>転職しようと決めた理由・エンジニアになりたいと思った理由</h4>
        </div>



      </div>
    </div>
  </body>
</html>

