// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header {
  color: #555;
  text-align: center;
  border: 1px #888 solid;
  background-color: #ddd;
}
